<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<button class="btn pull-right" ng-click="add()">
			<i class="fa fa-plus"></i> Add entry
		</button>
		<h1>My Blog</h1>
	</div>
	<div class="col-sm-4">
		<ul ng-repeat="e in entries">
			<li ng-class="{selected: e.name == selected}">
				<button class="btn" ng-click="load(e)">{{e.name}}</button>
			</li>
		</ul>
	</div>
	<div class="col-sm-8">
		{{entry.content}}
	</div>
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	var myapp = new angular.module("myapp", ["ngResource"]);

	myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){
		var Blog = $resource("/blog/:name", {name: '@name'}, {});

		$scope.entries = Blog.query();
		$scope.selected = null;
		$scope.entry = {content: "Select an entry."};

		$scope.load = function(entry){
			$scope.selected = entry;
			$scope.entry = Blog.get({name: entry.name});
		};

		$scope.add = function() {
			var name = prompt("Enter a name for the entry.");
			if(name == null){
				return;
			}
			var content = prompt("Enter content for entry.");
			if(content == null){
				return;
			}
			var newEntry = new Blog({name: name});
			newEntry.content = content;
			newEntry.$save();
			$scope.entries = Blog.query();
		};
	}]);
</script>
</body>
</html>
