<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Music</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<h1>My Blog</h1>
	</div>
	<div class="col-sm-4">
		<ul ng-repeat="entry in entries">
			<li><button class="btn" ng-click="load(entry)">{{entry}}</button></li>
		</ul>
	</div>
	<div class="col-sm-8">
		{{text}}
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script>
	var myapp = new angular.module("myapp", []);

	myapp.controller("MainCtl", ["$scope", "$http", function($scope, $http){
		$scope.entries = [
			"hello.txt",
			"yo.txt"
		];

		$scope.selected = null;

		$scope.load = function(entry){
			$scope.selected = entry;

			$http({
				method: "GET",
				url: "/entries/" + entry
			}).success(function(data){
				$scope.text = data;
			}).error(function(data){
				$scope.text = data;
			})
		}
	}])
</script>
</body>
</html>